* {
    box-sizing: border-box;
    overflow: hidden;
}

header {
    width: 1024px;
    height: 65px;
    background-color: lightblue;

    margin: auto;
    border: 1px solid black;
}

.container {
    width: 1024px;
    height: calc(768px - 65px - 20px);
    background-color: lightcoral;

    display: flex;
    margin: auto;
}

aside {
    width: 215px;
    height: calc(768px - 65px - 20px);
    background-color: lightgoldenrodyellow;

    display: flex;
    flex-direction: column;
}

.aside-header {
    width: 100%;
    height: calc(100% - 25px);
    background-color: lightgoldenrodyellow;
    border: 1px solid black;
}

.aside-footer {
    width: 100%;
    height: 25px;
    background-color: lightgrey;
    border: 1px solid black;
}

main {
    width: calc(1024px - 215px);
    height: calc(768px - 65px - 20px);
    background-color: lightsalmon;
}

.main-header {
    width: 100%;
    height: 29px;
    background-color: lightseagreen;
    border: 1px solid black;

}

.main-footer {
    width: 100%;
    height: calc(768px - 65px - 20px - 29px);
    background-color: lightslategray;
    border: 1px solid black;
}

footer {
    width: 1024px;
    flex-basis: 20px;
    background-color: lightpink;

    margin: auto;
    border: 1px solid black;
}